<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6319386304-jfcao2ir8lbmg5hvp6visla9qu92k1vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6319386304-jfcao2ir8lbmg5hvp6visla9qu92k1vl</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ5E8KwVoVcLg_r9wkoflN7vZJlM6749s</string>
	<key>GCM_SENDER_ID</key>
	<string>6319386304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skribe.app</string>
	<key>PROJECT_ID</key>
	<string>skribe-210dc</string>
	<key>STORAGE_BUCKET</key>
	<string>skribe-210dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6319386304:ios:32c203b9fb4eb8e9958725</string>
	<key>DATABASE_URL</key>
	<string>https://skribe-210dc.firebaseio.com</string>
</dict>
</plist>